/*
Theme Name: Summerhouse Development 2018
Author: RedKiteIT
Author URI: http://www.redkiteit.co.uk
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/*------------------------------------------------------------------
[TABLE OF CONTENT ]

1. FRAMEWORK

2. REFERENCES
  2.1. Color Variables
  2.2. Fonts Variables
  2.3. Breakpoint Variables
  2.4. Mixins

3. GENERAL
  3.1. Base Style
  3.2. Typography

4. MODULES
  4.1. Header / .header
  4.2. Footer / .footer
  4.3. Section / .section__header
  4.4. Slick Navigation / .slick__navigation
  4.5. Blog Column
  4.6. Blog Widget / .widget
  4.7. Contact Form / .contact-form
  4.8. Main Slider / .main-slider
  4.9. Item Grid / .item-grid
  4.10. New Listing / .new-listing
  4.11. Slick Dot Indicators / .slick-dots
  4.12. Features / .features
  4.13. Featured Listing / .featured-listing
  4.14. Listing / .listing
  4.15. Main Listing / .main-listing
  4.16. Testimonial / .testimonial
  4.17. Famous Agents / .famous-agents
  4.18. Newsletter / .newsletter
  4.19. Popular Links / .popular-links
  4.20. Partners / .partners
  4.21. News (Blog) / .news
  4.22. News (Blog) Navigation
  4.23. News (Blog) / Comment
  4.24. Breadcrumbs/ .ht-breadcrumbs
  4.25. Agents With Info / .agents-with-info
  4.26. Agents With Button / .agents-with-button
  4.27. Agency / .agency
  4.28. Single / .single
  4.29. Agents Single / .agents-single
  4.30. Agencies Single / .agencies-single
  4.31. About Us / .about-us
  4.32. Contact / .contact
  4.33. Error 404 / .error-404
  4.34. Pagination / .pagination
  4.35. Blog 
  4.36. Listing Search / .listing-search
  4.37. Listing Sort / .listing-sort
  4.38. Google Maps
  4.39. Property / .property
  4.40. Coming Soon / .coming-soon
-------------------------------------------------------------------*/
/* 1. FRAMEWORK
***********************/
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}
@media (min-width: 768px) {
.container{width:750px}
}
@media (min-width: 992px) {
.container{width:970px}
}
@media (min-width: 1200px) {
.container{width:1170px}
}
.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}
.row{margin-left:-15px;margin-right:-15px}
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left}
.col-xs-12{width:100%}
.col-xs-11{width:91.66666667%}
.col-xs-10{width:83.33333333%}
.col-xs-9{width:75%}
.col-xs-8{width:66.66666667%}
.col-xs-7{width:58.33333333%}
.col-xs-6{width:50%}
.col-xs-5{width:41.66666667%}
.col-xs-4{width:33.33333333%}
.col-xs-3{width:25%}
.col-xs-2{width:16.66666667%}
.col-xs-1{width:8.33333333%}
.col-xs-pull-12{right:100%}
.col-xs-pull-11{right:91.66666667%}
.col-xs-pull-10{right:83.33333333%}
.col-xs-pull-9{right:75%}
.col-xs-pull-8{right:66.66666667%}
.col-xs-pull-7{right:58.33333333%}
.col-xs-pull-6{right:50%}
.col-xs-pull-5{right:41.66666667%}
.col-xs-pull-4{right:33.33333333%}
.col-xs-pull-3{right:25%}
.col-xs-pull-2{right:16.66666667%}
.col-xs-pull-1{right:8.33333333%}
.col-xs-pull-0{right:auto}
.col-xs-push-12{left:100%}
.col-xs-push-11{left:91.66666667%}
.col-xs-push-10{left:83.33333333%}
.col-xs-push-9{left:75%}
.col-xs-push-8{left:66.66666667%}
.col-xs-push-7{left:58.33333333%}
.col-xs-push-6{left:50%}
.col-xs-push-5{left:41.66666667%}
.col-xs-push-4{left:33.33333333%}
.col-xs-push-3{left:25%}
.col-xs-push-2{left:16.66666667%}
.col-xs-push-1{left:8.33333333%}
.col-xs-push-0{left:auto}
.col-xs-offset-12{margin-left:100%}
.col-xs-offset-11{margin-left:91.66666667%}
.col-xs-offset-10{margin-left:83.33333333%}
.col-xs-offset-9{margin-left:75%}
.col-xs-offset-8{margin-left:66.66666667%}
.col-xs-offset-7{margin-left:58.33333333%}
.col-xs-offset-6{margin-left:50%}
.col-xs-offset-5{margin-left:41.66666667%}
.col-xs-offset-4{margin-left:33.33333333%}
.col-xs-offset-3{margin-left:25%}
.col-xs-offset-2{margin-left:16.66666667%}
.col-xs-offset-1{margin-left:8.33333333%}
.col-xs-offset-0{margin-left:0}
@media (min-width: 768px) {
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left}
.col-sm-12{width:100%}
.col-sm-11{width:91.66666667%}
.col-sm-10{width:83.33333333%}
.col-sm-9{width:75%}
.col-sm-8{width:66.66666667%}
.col-sm-7{width:58.33333333%}
.col-sm-6{width:50%}
.col-sm-5{width:41.66666667%}
.col-sm-4{width:33.33333333%}
.col-sm-3{width:25%}
.col-sm-2{width:16.66666667%}
.col-sm-1{width:8.33333333%}
.col-sm-pull-12{right:100%}
.col-sm-pull-11{right:91.66666667%}
.col-sm-pull-10{right:83.33333333%}
.col-sm-pull-9{right:75%}
.col-sm-pull-8{right:66.66666667%}
.col-sm-pull-7{right:58.33333333%}
.col-sm-pull-6{right:50%}
.col-sm-pull-5{right:41.66666667%}
.col-sm-pull-4{right:33.33333333%}
.col-sm-pull-3{right:25%}
.col-sm-pull-2{right:16.66666667%}
.col-sm-pull-1{right:8.33333333%}
.col-sm-pull-0{right:auto}
.col-sm-push-12{left:100%}
.col-sm-push-11{left:91.66666667%}
.col-sm-push-10{left:83.33333333%}
.col-sm-push-9{left:75%}
.col-sm-push-8{left:66.66666667%}
.col-sm-push-7{left:58.33333333%}
.col-sm-push-6{left:50%}
.col-sm-push-5{left:41.66666667%}
.col-sm-push-4{left:33.33333333%}
.col-sm-push-3{left:25%}
.col-sm-push-2{left:16.66666667%}
.col-sm-push-1{left:8.33333333%}
.col-sm-push-0{left:auto}
.col-sm-offset-12{margin-left:100%}
.col-sm-offset-11{margin-left:91.66666667%}
.col-sm-offset-10{margin-left:83.33333333%}
.col-sm-offset-9{margin-left:75%}
.col-sm-offset-8{margin-left:66.66666667%}
.col-sm-offset-7{margin-left:58.33333333%}
.col-sm-offset-6{margin-left:50%}
.col-sm-offset-5{margin-left:41.66666667%}
.col-sm-offset-4{margin-left:33.33333333%}
.col-sm-offset-3{margin-left:25%}
.col-sm-offset-2{margin-left:16.66666667%}
.col-sm-offset-1{margin-left:8.33333333%}
.col-sm-offset-0{margin-left:0}
}
@media (min-width: 992px) {
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left}
.col-md-12{width:100%}
.col-md-11{width:91.66666667%}
.col-md-10{width:83.33333333%}
.col-md-9{width:75%}
.col-md-8{width:66.66666667%}
.col-md-7{width:58.33333333%}
.col-md-6{width:50%}
.col-md-5{width:41.66666667%}
.col-md-4{width:33.33333333%}
.col-md-3{width:25%}
.col-md-2{width:16.66666667%}
.col-md-1{width:8.33333333%}
.col-md-pull-12{right:100%}
.col-md-pull-11{right:91.66666667%}
.col-md-pull-10{right:83.33333333%}
.col-md-pull-9{right:75%}
.col-md-pull-8{right:66.66666667%}
.col-md-pull-7{right:58.33333333%}
.col-md-pull-6{right:50%}
.col-md-pull-5{right:41.66666667%}
.col-md-pull-4{right:33.33333333%}
.col-md-pull-3{right:25%}
.col-md-pull-2{right:16.66666667%}
.col-md-pull-1{right:8.33333333%}
.col-md-pull-0{right:auto}
.col-md-push-12{left:100%}
.col-md-push-11{left:91.66666667%}
.col-md-push-10{left:83.33333333%}
.col-md-push-9{left:75%}
.col-md-push-8{left:66.66666667%}
.col-md-push-7{left:58.33333333%}
.col-md-push-6{left:50%}
.col-md-push-5{left:41.66666667%}
.col-md-push-4{left:33.33333333%}
.col-md-push-3{left:25%}
.col-md-push-2{left:16.66666667%}
.col-md-push-1{left:8.33333333%}
.col-md-push-0{left:auto}
.col-md-offset-12{margin-left:100%}
.col-md-offset-11{margin-left:91.66666667%}
.col-md-offset-10{margin-left:83.33333333%}
.col-md-offset-9{margin-left:75%}
.col-md-offset-8{margin-left:66.66666667%}
.col-md-offset-7{margin-left:58.33333333%}
.col-md-offset-6{margin-left:50%}
.col-md-offset-5{margin-left:41.66666667%}
.col-md-offset-4{margin-left:33.33333333%}
.col-md-offset-3{margin-left:25%}
.col-md-offset-2{margin-left:16.66666667%}
.col-md-offset-1{margin-left:8.33333333%}
.col-md-offset-0{margin-left:0}
}
@media (min-width: 1200px) {
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left}
.col-lg-12{width:100%}
.col-lg-11{width:91.66666667%}
.col-lg-10{width:83.33333333%}
.col-lg-9{width:75%}
.col-lg-8{width:66.66666667%}
.col-lg-7{width:58.33333333%}
.col-lg-6{width:50%}
.col-lg-5{width:41.66666667%}
.col-lg-4{width:33.33333333%}
.col-lg-3{width:25%}
.col-lg-2{width:16.66666667%}
.col-lg-1{width:8.33333333%}
.col-lg-pull-12{right:100%}
.col-lg-pull-11{right:91.66666667%}
.col-lg-pull-10{right:83.33333333%}
.col-lg-pull-9{right:75%}
.col-lg-pull-8{right:66.66666667%}
.col-lg-pull-7{right:58.33333333%}
.col-lg-pull-6{right:50%}
.col-lg-pull-5{right:41.66666667%}
.col-lg-pull-4{right:33.33333333%}
.col-lg-pull-3{right:25%}
.col-lg-pull-2{right:16.66666667%}
.col-lg-pull-1{right:8.33333333%}
.col-lg-pull-0{right:auto}
.col-lg-push-12{left:100%}
.col-lg-push-11{left:91.66666667%}
.col-lg-push-10{left:83.33333333%}
.col-lg-push-9{left:75%}
.col-lg-push-8{left:66.66666667%}
.col-lg-push-7{left:58.33333333%}
.col-lg-push-6{left:50%}
.col-lg-push-5{left:41.66666667%}
.col-lg-push-4{left:33.33333333%}
.col-lg-push-3{left:25%}
.col-lg-push-2{left:16.66666667%}
.col-lg-push-1{left:8.33333333%}
.col-lg-push-0{left:auto}
.col-lg-offset-12{margin-left:100%}
.col-lg-offset-11{margin-left:91.66666667%}
.col-lg-offset-10{margin-left:83.33333333%}
.col-lg-offset-9{margin-left:75%}
.col-lg-offset-8{margin-left:66.66666667%}
.col-lg-offset-7{margin-left:58.33333333%}
.col-lg-offset-6{margin-left:50%}
.col-lg-offset-5{margin-left:41.66666667%}
.col-lg-offset-4{margin-left:33.33333333%}
.col-lg-offset-3{margin-left:25%}
.col-lg-offset-2{margin-left:16.66666667%}
.col-lg-offset-1{margin-left:8.33333333%}
.col-lg-offset-0{margin-left:0}
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{overflow-x:hidden}
article,aside,details,figcaption,figure,footer,header,main,nav,section{display:block}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0}
caption,th,td{font-weight:400;text-align:left}
blockquote:before,blockquote:after,q:before,q:after{content:""}
blockquote,q{quotes:"" ""}
a:focus{outline:none}
a:hover,a:active{outline:0}
a img{border:0}
a{text-decoration:none}
input:focus,textarea:focus{outline:none}
img,video{max-width:100%;vertical-align:top}
audio,canvas,video{display:inline;zoom:1}
h1,h2,h3,h4,h5,h6{margin:0}
select{border-radius:0!important;-webkit-border-radius:0!important}
input,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-clip:padding-box;display:block;width:100%;border:1px solid transparent;padding:10px 15px;border-radius:4px;font-family:'Roboto',Helvetica,Arial,sans-serif;font-size:14px}
input:focus,textarea:focus{border:1px solid #4a95a1}
input::placeholder,textarea::placeholder{color:#666;font-family:'Roboto',Helvetica,Arial,sans-serif;font-size:14px}
.row{*zoom:1}
.row:before,.row:after{content:" ";display:table}
.row:after{clear:both}
.row:before,.row:after{content:" ";display:table}
.row:after{clear:both}
.screen-reader-text,.sr-only{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}
body{font-family:'Roboto',Helvetica,Arial,sans-serif;font-size:14px;line-height:1.5}
h1,h2,h3,h4,h5,h6{font-family:'Raleway',Helvetica,Arial,sans-serif;color:#333;font-weight:700;line-height:1;color:#6d5f67;margin-bottom:20px;}
h1{font-size:32px}
h2{font-size:28px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
p{margin-bottom:10px}
b,strong{font-weight:700}
dfn,cite,em,i{font-style:italic}
blockquote{border-left:4px solid #707070;border-left:4px solid rgba(51,51,51,0.7);color:#707070;color:rgba(51,51,51,0.7);font-size:18px;font-size:1.8rem;font-style:italic;line-height:1.6667;margin-bottom:1.6667em;padding-left:.7778em}
blockquote p{margin-bottom:1.6667em}
blockquote > p:last-child{margin-bottom:0}
blockquote cite,blockquote small{color:#333;font-size:15px;font-size:1.5rem;font-family:"Noto Sans",sans-serif;line-height:1.6}
blockquote em,blockquote i,blockquote cite{font-style:normal}
blockquote strong,blockquote b{font-weight:400}
address{font-style:italic;margin:0 0 1.6em}
code,kbd,tt,var,samp,pre{font-family:Inconsolata,monospace;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}
pre{background-color:transparent;background-color:rgba(0,0,0,0.01);border:1px solid #eaeaea;border:1px solid rgba(51,51,51,0.1);line-height:1.2;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:.8em;white-space:pre;white-space:pre-wrap;word-wrap:break-word}
abbr[title]{border-bottom:1px dotted #eaeaea;border-bottom:1px dotted rgba(51,51,51,0.1);cursor:help}
mark,ins{background-color:#fff9c0;text-decoration:none}
sup,sub{font-size:75%;height:0;line-height:0;position:relative;vertical-align:baseline}
sup{bottom:1ex}
sub{top:.5ex}
small{font-size:75%}
big{font-size:125%}
hr{background-color:#eaeaea;background-color:rgba(51,51,51,0.1);border:0;height:1px;margin:15px 0}
ul,li{margin:0;padding:0;list-style-type:none}
li > ul,li > ol{margin-bottom:0}
dl{margin-bottom:1.6em}
dt{font-weight:700}
dd{margin-bottom:1.6em}
table,th,td{border:1px solid #eaeaea;border:1px solid rgba(51,51,51,0.1)}
table{border-collapse:separate;border-spacing:0;border-width:1px 0 0 1px;margin:0 0 1.6em;table-layout:fixed;width:100%}
caption,th,td{font-weight:400;text-align:left}
th{border-width:0 1px 1px 0;font-weight:700}
td{border-width:0 1px 1px 0}
th,td{padding:.4em}
img{-ms-interpolation-mode:bicubic;border:0;height:auto;max-width:100%;vertical-align:middle}
figure{margin:0;max-width:100%}
del{opacity:.8}
::-webkit-input-placeholder{color:rgba(51,51,51,0.7);font-family:"Noto Sans",sans-serif}
:-moz-placeholder{color:rgba(51,51,51,0.7);font-family:"Noto Sans",sans-serif}
::-moz-placeholder{color:rgba(51,51,51,0.7);font-family:"Noto Sans",sans-serif;opacity:1}
:-ms-input-placeholder{color:rgba(51,51,51,0.7);font-family:"Noto Sans",sans-serif}
textarea{max-width:100%}
.header--mauve{background-color:#6d5f67}
.header--top{top:0;z-index:2;width:100%;padding:10px 0;}
.header__main{position:relative;padding:10px 0}
.header__logo img{display:inline-block;margin-top:-42px}
@media only screen and (min-width: 992px) {
.header__main{display:flex;justify-content:space-between;align-items:center;padding:0}
}
.header--coming-soon{padding-top:20px}
@media only screen and (min-width: 992px) {
.header--coming-soon{padding-top:50px}
}
@media (max-width: 991px) {
.header__logo img{margin-top:0}
}
.header__cta{display:inline-block;padding:10px 32px;background:#4a95a1;color:#fff;font-size:13px;font-weight:500px;text-transform:uppercase;border-radius:4px}
@media only screen and (min-width: 992px) {
.header__cta{margin-left:20px}
}
@media only screen and (min-width: 1200px) {
.header__cta{margin-left:50px}
}
.header__cta--outline{border:1px solid #4a95a1;background:transparent;color:#4a95a1}
@media (max-width: 991px) {
.header__menu{display:none;position:absolute;z-index:100;top:100%;width:100%;padding:0 10px 20px;border-top:3px solid #4a95a1;background-color:rgba(255,255,255,0.95);box-shadow:0 4px 5px rgba(0,0,0,0.15)}
}
@media only screen and (min-width: 992px) {
.header__menu{display:flex!important;justify-content:space-between;align-items:center}
}
@media (max-width: 991px) {
.header__menu .topbar__user{padding:10px 0}
}
@media (max-width: 991px) {
.header__menu .topbar__user li:after{color:#666}
}
@media (max-width: 991px) {
.header__menu .topbar__user a{color:#666;text-transform:uppercase;transition:.3s color ease-out}
.header__menu .topbar__user a:hover{color:#4a95a1}
}
@media only screen and (min-width: 992px) {
.header__menu--v1 .topbar__user,.header__menu--v4 .topbar__user{display:none}
}
@media only screen and (min-width: 992px) {
.header__nav{margin-right:0}
}
@media only screen and (min-width: 1200px) {
.header__nav{margin-right:0}
}
@media only screen and (min-width: 992px) {
.header__nav-item, menu-item{display:inline-block}
}
.header__nav li{position:relative}
.header__nav li ul{position:absolute;left:-9999px;padding-left:10px}
@media only screen and (min-width: 992px) {
.header__nav li ul{width:13em;padding-left:0;border-top:3px solid #4a95a1;background-color:rgba(255,255,255,0.95);box-shadow:0 4px 5px rgba(0,0,0,0.15)}
}
.header__nav li ul a{font-weight:500;border-bottom:1px solid #eee;color:#666}
.header__nav > li.hover > ul{left:0;top:auto;z-index:20}
@media (max-width: 991px) {
.header__nav > li.hover > ul{position:static}
}
.header__nav li li.hover ul{left:100%;top:0;z-index:20}
@media (max-width: 991px) {
.header__nav li li.hover ul{position:static}
}
.header__nav a{display:block;padding:10px 0;transition:.3s color ease-out}
.header__nav a:last-of-type{padding-right:0}
@media only screen and (min-width: 992px) {
.header__nav a{padding:10px 15px}
.header__nav a:last-of-type{padding-right:0}
}
.header__nav a:hover{color:#4a95a1}
.header__nav a:not(:only-child){position:relative}
@media only screen and (min-width: 992px) {
.header__nav a:not(:only-child){line-height:60px}
}
@media (max-width: 991px) {
.header__nav a:not(:only-child):after{position:absolute;right:2px;content:"\f107";display:inline-block;font-family:FontAwesome}
}
@media (max-width: 991px) {
.header__nav a.active:not(:only-child):after{content:"\f106"}
}
.header__nav-link{border-bottom:1px solid #eee;color:#666;text-transform:uppercase;font-weight:500}
@media only screen and (min-width: 992px) {
.header__nav-link{border-bottom:0;color:#fff}
}
.header__nav-link--v2{text-transform:capitalize!important}
@media only screen and (min-width: 992px) {
.header__nav-link--mine-shaft{color:#333!important}
}
.topbar{display:none;border-bottom:1px solid rgba(255,255,255,0.5);padding:10px 0;font-size:12px}
@media only screen and (min-width: 992px) {
.topbar{display:flex;justify-content:flex-end;align-items:center}
}
.topbar--sea-shell{background:#f1f1f1}
.topbar li{display:inline-block}
.topbar__icon{color:rgba(255,255,255,0.5);font-size:14px}
.topbar__icon--gray{color:#888}
.topbar__link{color:rgba(255,255,255,0.5);transition:.3s color ease-out}
.topbar__link--white{color:#fff}
.topbar__link--mine-shaft{color:#333}
.topbar__link--gray{color:#888}
.topbar__link:hover{color:#4a95a1}
.topbar__contact{padding-right:70px}
.topbar__contact li{padding-right:30px}
.topbar__contact li:last-child{padding-right:0}
.topbar__contact a{display:inline-block;padding-left:5px}
.topbar__social{font-size:14px}
.topbar__social li{padding-right:15px}
.topbar__social li:last-child{padding-right:0}
.topbar__user--uppercase{text-transform:uppercase}
.topbar__user-icon{padding-right:5px;color:rgba(255,255,255,0.5);font-size:16px}
.topbar__user li{display:inline-block}
.topbar__user li:after{content:"|";display:inline-block;color:rgba(255,255,255,0.5);padding-left:5px}
.topbar__user li:last-child:after{display:none}
.topbar__user--mine-shaft li:after{color:#333}
.topbar__user--gray li:after{color:#888}
.topbar__user--gray .topbar__user-icon{color:#888}
.nav-mobile{position:absolute;top:0;right:0;display:block}
@media only screen and (min-width: 992px) {
.nav-mobile{display:none}
}
.nav-toggle{position:absolute;top:15px;right:0;display:block;padding:10px 25px 0 0}
.nav-toggle span,.nav-toggle span:before,.nav-toggle span:after{position:absolute;display:block;width:20px;height:2px;border-radius:10px;background-color:#fff;content:"";cursor:pointer;transition:.2s all ease-out}
.nav-toggle--secondary span,.nav-toggle--secondary span:before,.nav-toggle--secondary span:after{background-color:#666}
.nav-toggle span:before{top:-6px}
.nav-toggle span:after{bottom:-6px}
.nav-toggle.active span{background-color:transparent}
.nav-toggle.active span:before,.nav-toggle.active span:after{top:0}
.nav-toggle.active span:before{transform:rotate(45deg)}
.nav-toggle.active span:after{transform:rotate(-45deg)}
.footer{background-color:#fbfbfb}
.footer__links{border-bottom:1px solid #ddd;padding:60px 0}
.footer__title{margin-bottom:15px;color:#333;font-size:18px}
@media only screen and (min-width: 992px) {
.footer__title{margin-bottom:30px}
}
.footer__logo{margin-bottom:20px}
.footer__desc{max-width:600px;margin:0 auto 25px}
.footer__links-single{margin-bottom:30px}
.footer__links-single:last-child{margin-bottom:0}
@media only screen and (min-width: 992px) {
.footer__links-single{margin-bottom:0}
}
.footer--highlighted{color:#333;font-weight:500}
.footer--highlighted-v2{color:#4a95a1}
.footer__list li{margin-bottom:10px}
.footer__list li:last-child{margin-bottom:0}
.footer__list a{color:#666;transition:.3s color ease-out}
.footer__list a:hover{color:#4a95a1}
.footer__list .footer--highlighted{display:inline-block;min-width:70px}
.footer__main{border-bottom:1px solid #ddd;padding:45px 0;color:#888;text-align:center}
.footer__main--v2{border-bottom:0;background-color:#282828}
.footer__social li{display:inline-block;padding:0 10px}
.footer__social a{color:#999;font-size:22px;transition:.3s color ease-out}
.footer__social a:hover{color:#4a95a1}
.footer__social--coming-soon a{color:rgba(153,153,153,0.65)}
.footer__copyright--v2{background-color:#222}
.footer__copyright-inner{display:flex;flex-direction:column;padding:20px 0}
@media only screen and (min-width: 992px) {
.footer__copyright-inner{flex-direction:row;justify-content:space-between;align-items:center}
}
.footer__copyright-desc{color:#888}
@media only screen and (min-width: 992px) {
.footer__copyright-desc{margin-bottom:0}
}
.footer__copyright-list li{display:inline-block}
.footer__copyright-list li:after{content:"|";display:inline-block;padding:0 5px;color:#888}
.footer__copyright-list li:last-child:after{display:none}
.footer__copyright-list a{color:#888;font-size:13px;text-transform:uppercase;transition:.3s color ease-out}
.footer__copyright-list a:hover{color:#4a95a1}
.footer--coming-soon{padding-bottom:15px}
@media only screen and (min-width: 992px) {
.footer--coming-soon{padding-bottom:30px}
}
.section__header{/*background-image:url(../images/uploads/section_header.png);*/background-repeat:no-repeat;background-size:cover;background-position:center}
.section__header-overlay{padding:47px 0;background-color:rgba(0,0,0,0.6)}
.section__header .section__title{margin-bottom:5px;color:#fff;font-size:30px}
.section__header .ht-breadcrumbs__item:after,.section__header .ht-breadcrumbs__link,.section__header .ht-breadcrumbs__page{color:#fff}
.section__title{margin-bottom:30px;color:#333;font-size:26px}
.section__title--large{font-size:36px}
.section__title--b-margin{margin-bottom:5px}
@media only screen and (min-width: 768px) {
.section__title--b-margin{margin-bottom:0}
}
.section__title--t-margin-at-xs{margin-top:40px}
@media only screen and (min-width: 768px) {
.section__title--t-margin-at-xs{margin-top:0}
}
.section__title--centered{text-align:center}
.section__title--b-margin-40{margin-bottom:40px}
.slick__navigation li{position:relative;display:inline-block;width:38px;height:38px;margin-left:5px;border:1px solid #e5e5e5;border-radius:50%;cursor:pointer;transition:.3s all ease-out}
.slick__navigation li:hover{border-color:#888}
.slick__navigation i{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:#888;font-size:18px}
.col-md-main{position:relative}
@media only screen and (min-width: 992px) {
.col-md-main:after{content:"";position:absolute;width:1px;height:100%;background-color:#eee;right:-45px;top:0}
}
@media only screen and (min-width: 992px) {
.col-md-sidebar{padding-left:105px}
}
.widget{margin-bottom:60px}
.widget--wild-sand{background-color:#f6f6f6}
.widget--white{background-color:#fff}
.widget--padding-20{padding:20px}
.widget__title{margin-bottom:30px;font-size:18px}
.widget__title--uppercase{text-transform:uppercase}
.widget__news-item{margin-bottom:20px;border-bottom:1px solid #eee;padding-bottom:20px}
.widget__news-item:last-child{margin-bottom:0;border-bottom:0;padding-bottom:0}
.widget__news a{color:#666;transition:.3s color ease-out}
.widget__news a:hover{color:#4a95a1}
.widget__news span{display:block}
.search-form{position:relative}
.search-form__field{background-color:#f7f7f7;border:1px solid #e5e5e5}
.search-form__submit{position:absolute;right:10px;top:50%;border:0;padding:0;background-color:transparent;color:#333;font-size:16px;transform:translateY(-50%);cursor:pointer}
.widget_list li{margin-bottom:15px;border-bottom:1px dotted #ddd;padding-bottom:15px}
.widget_list li:before{content:"\f0c8";display:inline-block;padding-right:15px;color:#333;font-family:"FontAwesome";font-size:6px;line-height:14px}
.widget_list li:last-child{margin-bottom:0}
.widget_list a{color:#333;transition:.3s color ease-out}
.widget_list a:hover{color:#4a95a1}
.widget_list span{display:inline-block;padding-left:10px;color:#999}
.widget_thumbnail__item{display:flex;align-items:center;margin-bottom:30px}
.widget_thumbnail__img{flex-shrink:0;height:auto}
.widget_thumbnail__content{padding-left:20px}
.widget_thumbnail__title{margin-bottom:20px;font-size:14px;font-weight:400;line-height:20px}
.widget_thumbnail__link{color:#333;transition:.3s color ease-out}
.widget_thumbnail__link:hover{color:#4a95a1}
.widget_thumbnail__date{color:#adadad;font-size:12px}
.tag-cloud__item{position:relative;display:inline-block;height:24px;margin-right:15px;margin-bottom:15px;background-color:#f7f7f7;padding:2px 25px;color:#999;font-size:13px;transition:.3s color ease-out}
.tag-cloud__item:before{content:"";position:absolute;width:0;height:0;top:0;left:-6px;border-right:6px solid #f7f7f7;border-top:12px solid transparent;border-bottom:12px solid transparent}
.tag-cloud__item:after{content:"";position:absolute;left:5px;top:50%;transform:translateY(-50%);width:4px;height:4px;background-color:#fff;border-radius:50%;box-shadow:-1px -1px 2px #eee}
.tag-cloud__item:hover{color:#333}
.widget_gallery ul{display:flex;justify-content:space-between;flex-wrap:wrap}
.widget_gallery li{width:32%;margin-bottom:5px}
.contact-form{padding:20px}
.contact-form--no-padding{padding:0}
.contact-form--bordered{border:1px solid #eee}
.contact-form--wild-sand{background-color:#f6f6f6}
.contact-form--white{background-color:#fff}
.contact-form__header{margin-bottom:20px}
.contact-form__title{font-size:18px}
.contact-form__body{padding-bottom:10px}
.contact-form__field{margin-bottom:10px;color:#333;border:1px solid #eee}
.contact-form__field--contact{margin-bottom:20px;padding-top:12px;padding-bottom:12px;border-radius:0}
.contact-form__comment{resize:none}
.contact-form__submit{background-color:#4a95a1;color:#fff;font-size:13px;font-weight:500;text-align:center;text-transform:uppercase;cursor:pointer}
.contact-form__submit--contact{max-width:275px;padding-top:11px;padding-bottom:11px;border-radius:0}
.main-slider{position:relative;background:#FFFFFF;}
.item-grid{position:relative;padding:40px 0 100px;background-color:#f6f6f6}
@media only screen and (min-width: 768px) {
.item-grid{padding:170px 0 100px}
}
.item-grid__container{margin-bottom:30px}
.item-grid--centered{text-align:center}
.item-grid__image-container{position:relative;overflow:hidden}
.item-grid__image-container img{transition:.3s transform ease-out}
@media only screen and (min-width: 992px) {
.item-grid__image-list{width:41.6%}
}
@media only screen and (min-width: 992px) {
.item-grid__content-list{width:58.4%}
}
.item-grid__image-overlay{position:absolute;top:0;left:0;width:100%;height:100%;transition:.3s background ease-out}
.item-grid__image-container:hover .item-grid__image-overlay{background:rgba(0,0,0,0.4);z-index:2}
.item-grid__image-container:hover img{transform:scale(1.1)}
@media only screen and (min-width: 992px) {
.item-grid__image-container--v2{position:relative;width:32%}
}
@media only screen and (min-width: 992px) {
.item-grid__image-container--open-houses{position:relative;flex:1 0 35%}
}
@media only screen and (min-width: 992px) {
.item-grid__content-container--v2{width:68%}
.item-grid__content-container{min-height:144px}
}
@media only screen and (min-width: 992px) {
.item-grid__content-container--open-houses{width:60%}
}
.item-grid__load-more{display:inline-block;margin-top:30px;padding:11px 54px;background-color:#4a95a1;color:#fff;font-size:13px;text-transform:uppercase;text-align:center;border-radius:4px}
.item__label{position:absolute;top:20px;left:20px;padding:0 12px;display:inline-block;background-color:#ff9d00;color:#fff;font-size:10px;text-align:center;border-radius:3px}
.new-listing{padding:100px 0}
.new-listing--b-border{padding-top:100px}
.new-listing__inner{border-bottom:1px solid #eee;padding-bottom:99px}
.new-listing__header{margin-bottom:30px}
@media only screen and (min-width: 768px) {
.new-listing__header{display:flex;justify-content:space-between}
}
.new-listing__all{color:#4a95a1;font-size:16px;font-weight:500}
@media only screen and (min-width: 992px) {
.new-listing__container{display:flex;justify-content:space-between}
}
.new-listing--col-md-6{position:relative}
@media only screen and (min-width: 992px) {
.new-listing--col-md-6{width:48.7%}
}
@media only screen and (min-width: 992px) {
.new-listing__parent{position:absolute;bottom:0;width:100%}
}
.new-listing__single,.new-listing__block{position:relative;overflow:hidden}
.new-listing__single img,.new-listing__block img{transition:.3s transform ease-out}
.new-listing__single:hover img,.new-listing__block:hover img{transform:scale(1.1)}
.new-listing__single{height:245px}
.new-listing__block{height:200px}
@media only screen and (min-width: 992px) {
.new-listing__block{height:auto}
}
.new-listing__block,.new-listing__single{overflow:hidden}
.new-listing__block:hover .new-listing__bg,.new-listing__single:hover .new-listing__bg{transform:scale(1.2)}
.new-listing__bg{width:100%;height:100%;background-repeat:no-repeat;background-size:cover;background-position:center;transition:.3s all ease-out}
/*.new-listing__bg--new-york-1{background-image:url(../images/uploads/new_york_1.jpg)}
.new-listing__bg--ohio-1{background-image:url(../images/uploads/ohio_1.jpg)}
.new-listing__bg--san-diego-1{background-image:url(../images/uploads/san_diego_1.jpg)}
.new-listing__bg--new-jersey-1{background-image:url(../images/uploads/new_jersey_1.jpg)}
.new-listing__bg--new-york-2{background-image:url(../images/uploads/new_york_2.jpg)}
.new-listing__bg--san-diego-2{background-image:url(../images/uploads/san_diego_2.jpg)}
.new-listing__bg--new-jersey-2{background-image:url(../images/uploads/new_jersey_2.jpg)}*/
.new-listing--large:before{display:block;content:"";width:100%;padding-top:73.68421053%}
.new-listing--wide:before{display:block;content:"";width:100%;padding-top:35.0877193%}
.new-listing--small:before{display:block;content:"";width:100%;padding-top:70.37037037%}
.new-listing__content{position:absolute;top:0;right:0;bottom:0;left:0;display:flex;flex-direction:column;justify-content:center;align-items:center;background:rgba(0,0,0,0.4);color:#fff}
.new-listing__title{margin-bottom:5px;color:#fff;font-size:18px;text-transform:uppercase}
.new-listing__desc{margin-bottom:0}
.slick-dots{margin-top:25px;text-align:center}
.slick-dots li{display:inline-block;padding:0 5px}
.slick-dots__icon{display:inline-block;width:10px;height:10px;background-color:rgba(51,51,51,0.3);border-radius:50%;cursor:pointer}
.slick-dots__icon:hover{background-color:#4a95a1}
.slick-active .slick-dots__icon{background-color:#4a95a1}
.features{background-image:url(../summerhouse2018/images/features_bg.png);background-repeat:no-repeat;background-size:cover;background-position:center;background-attachment:fixed;color:#fff}
.features__overlay{padding:95px 0;background-color:#6d5f67}
.feature{margin-bottom:32px;text-align:center}
@media only screen and (min-width: 768px) {
.feature{margin-bottom:0}
}
.feature__icon{display:inline-block;margin-bottom:45px}
.feature__title{margin-bottom:15px;color:#fff;font-size:18px}
.feature__desc{margin-bottom:0;color:rgba(255,255,255,0.7)}
.featured-listing{padding:90px 0;background-color:#f3f3f3}
.featured-listing--white{background-color:#fff}
.featured-listing__container{margin-bottom:30px}
@media only screen and (min-width: 992px) {
.featured-listing__container{margin-bottom:0}
}
.featured-listing__wrapper{position:relative}
.featured-listing__nav{background-color:#fff}
@media only screen and (min-width: 768px) {
.featured-listing__nav .slick-current .featured-listing__single{box-shadow:0 0 10px rgba(0,0,0,0.15)}
}
@media only screen and (min-width: 1200px) {
.featured-listing__nav{padding:10px 57% 10px 0;width:100%}
.featured-listing__nav .slick-current .featured-listing__single:before,.featured-listing__nav .slick-current .featured-listing__single:after{display:block}
}
.featured-listing__item.slick-slide{border:0}
.featured-listing__single{display:flex;align-items:center;position:relative;padding:10px;background-color:#fff;cursor:pointer}
@media only screen and (min-width: 768px) {
.featured-listing__single{padding:15px;margin:5px}
}
@media only screen and (min-width: 1200px) {
.featured-listing__single{margin:5px 28px 5px 5px}
.featured-listing__single:hover{box-shadow:0 0 10px rgba(0,0,0,0.15)}
.featured-listing__single:hover:before{display:inline-block}
.featured-listing__single:hover:after{display:inline-block}
}
.featured-listing__single:before{display:none;position:absolute;z-index:-1;width:20px;height:20px;right:-10px;top:50%;transform:translateY(-50%) rotate(45deg);content:"";box-shadow:0 0 10px rgba(0,0,0,0.15)}
.featured-listing__single:after{display:none;position:absolute;z-index:1;height:0;width:0;left:100%;top:50%;transform:translateY(-50%);content:"";border-left:15px solid #fff;border-top:15px solid transparent;border-bottom:15px solid transparent}
.featured-listing__img{width:30%}
.featured-listing__content{width:70%;padding-left:20px}
@media only screen and (min-width: 1200px) {
.featured-listing__videos{position:absolute;top:0;right:0;height:100%;width:57%}
}
.featured-listing__video{position:relative}
.featured-listing__video img{transition:.3s transform ease-out}
.featured-listing__video:hover img{transform:scale(1.1)}
.featured-listing__overlay{position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,0.5)}
.listing{position:relative;background-color:#fff;transition:.3s all ease-out}
.listing:hover{box-shadow:0 1px 7px 0 rgba(0,0,0,0.12)}
@media only screen and (min-width: 992px) {
.listing--v2{display:flex;align-items:center}
}
.listing img{width:100%}
.listing__logo{max-width:100%;width:auto!important}
.listing__favorite{position:absolute;z-index:3;top:15px;right:15px;width:40px;height:40px;background:rgba(255,255,255,0.93);text-align:center;border-radius:50%;cursor:pointer}
.listing__favorite i{color:#bbb;font-size:16px;line-height:40px}
.listing__content{padding:10px 20px 20px}
.listing__content--absolute{position:absolute;bottom:0;width:100%}
.listing__content--v2{padding:15px 30px}
.listing__content--open-houses{padding:8px 25px}
.listing__content--bg{background:-webkit-linear-gradient(90deg,#050606 0%,rgba(5,6,6,0.99) 1%,rgba(0,0,0,0) 100%);background:-moz-linear-gradient(90deg,#050606 0%,rgba(5,6,6,0.99) 1%,rgba(0,0,0,0) 100%);background:-o-linear-gradient(90deg,#050606 0%,rgba(5,6,6,0.99) 1%,rgba(0,0,0,0) 100%);background:-ms-linear-gradient(90deg,#050606 0%,rgba(5,6,6,0.99) 1%,rgba(0,0,0,0) 100%);background:linear-gradient(0deg,#050606 0%,rgba(5,6,6,0.99) 1%,rgba(0,0,0,0) 100%)}
.listing__content--less-b-padding{padding-bottom:5px}
@media only screen and (min-width: 768px) {
.listing__content--less-b-padding{padding-bottom:20px}
}
.listing__type{display:inline-block;color:#4a95a1;font-size:11px;text-transform:uppercase}
.listing__header{margin-bottom:10px}
@media only screen and (min-width: 768px) {
.listing__header{display:flex;justify-content:space-between;align-items:center}
}
.listing__header--no-b-margin{margin-bottom:0}
.listing__location{margin-bottom:8px;color:#999;font-size:13px}
.listing__location--no-b-margin{margin-bottom:0}
.listing__price{margin-bottom:20px;color:#4a95a1;font-size:16px;font-weight:700;text-transform:uppercase}
.listing__price a{color:#4a95a1}
.listing__price--small{font-size:14px;font-weight:400;text-transform:capitalize}
.listing__price--no-b-margin{margin-bottom:0}
.listing__price--open-houses{margin-bottom:10px}
@media only screen and (min-width: 768px) {
.listing__details{display:flex;justify-content:space-between;align-items:center}
}
.listing__details--v2{margin-bottom:15px;border-bottom:1px solid #eee;padding-bottom:15px}
.listing__desc{margin-bottom:0;color:#888}
.listing__title{margin-bottom:8px}
.listing__title a{color:#333;font-size:16px;transition:.3s color ease-out}
.listing__title a:hover{color:#4a95a1}
.listing__title--white a{color:#fff}
.listing__stats{margin-bottom:10px;color:#333;font-size:10px;text-transform:uppercase}
@media only screen and (min-width: 768px) {
.listing__stats{margin-bottom:0}
}
.listing__stats--absolute{position:absolute;top:20px;left:20px}
.listing__stats--secondary{margin-bottom:0;padding:7px 20px;color:#fff;background:#4a95a1;border-radius:4px}
.listing__stats li{display:inline-block;margin-right:15px}
.listing__stats li:last-child{margin-right:0}
.listing__figure{display:block;font-size:20px}
.listing__btn{flex-shrink:0;display:inline-block;border:1px solid #4a95a1;padding:8px 35px;color:#4a95a1;font-size:13px;text-transform:uppercase;border-radius:40px;transition:.3s all ease-out}
.listing__btn:hover{color:#fff;background:#4a95a1}
.listing__btn-icon{padding-left:3px}
.main-listing__main{padding:40px 0 60px;background-color:#f6f6f6}
.main-listing__widget{margin-bottom:30px;padding:30px 20px;background-color:#fff}
.main-listing__wrapper{margin-bottom:15px}
.main-listing__form-title{display:inline-block;margin-bottom:5px;color:#333;font-family:'Roboto',Helvetica,Arial,sans-serif;font-size:15px;font-weight:700}
.main-listing__form-select{display:flex;align-items:center;margin-bottom:10px}
.main-listing__form-label{display:inline-block;color:#333;font-size:13px;text-transform:uppercase;cursor:pointer}
.main-listing__form-label:hover{color:#4a95a1}
.main-listing__form-label:before{content:"\f10c";display:inline-block;margin-right:10px;font-family:"FontAwesome";font-weight:14px}
.main-listing__form-radio{display:none}
.main-listing__form-radio:checked ~ .main-listing__form-label{color:#4a95a1}
.main-listing__form-radio:checked ~ .main-listing__form-label:before{content:"\f192"}
.main-listing__form-radio:disabled ~ .main-listing__form-label:before{content:"\f111";color:#888}
.main-listing__form-desc{margin-left:auto;font-size:12px;color:#888}
.main-listing__form-container{display:flex;justify-content:space-between}
.main-listing__form-container .main-listing__form-field{width:48%;margin-bottom:0}
.main-listing__form-field{height:41px;border-color:#eee;color:#666;font-size:13px}
.main-listing__form-field::placeholder{font-size:13px;color:#666}
.main-listing__form-field .dk-selected{border-color:#eee;color:#666}
.main-listing__form-field .dk-selected:hover,.main-listing__form-field .dk-selected:focus{border-color:#4a95a1}
.main-listing__form-field .dk-select-options{color:#666}
.main-listing__form-more-filter{display:block;margin-top:10px;margin-bottom:10px;color:#4a95a1;font-size:13px;font-weight:500;text-align:center;text-transform:uppercase}
.main-listing__form-expand{display:none;padding-bottom:5px}
.main-listing__form-reset{display:block;width:100%;border:1px solid transparent;padding:10px 15px;background-color:#4a95a1;color:#fff;border-radius:4px;font-family:'Roboto',Helvetica,Arial,sans-serif;font-weight:500;text-transform:uppercase;text-align:center;cursor:pointer}
@media only screen and (min-width: 992px) {
.main-listing__container{display:flex}
}
.main-listing--col-md-6{position:relative}
@media only screen and (min-width: 992px) {
.main-listing--col-md-6{width:50%}
}
.main-listing--col-md-6 .map-container--sticky{position:sticky;top:0;height:100vh}
.main-listing__inner{padding:20px}
@media only screen and (min-width: 992px) {
.main-listing__inner{padding:40px}
}
.main-listing--wild-sand{background:#f6f6f6}
.main-listing__tags{display:flex;align-items:center;flex-wrap:wrap;margin-bottom:20px;font-size:13px}
.main-listing__result{display:inline-block;margin-right:30px;margin-bottom:2px;color:mine-shaft}
.main-listing__list{margin-right:30px}
.main-listing__tag{display:inline-block;margin-right:8px;margin-bottom:5px;padding:6px 18px;background-color:#fff;border-radius:40px;box-shadow:0 1px 3px 0 rgba(0,0,0,0.1);color:#666}
.main-listing__tag:last-child{margin-right:0}
.main-listing__tag-label{display:inline-block;color:#adadad;margin-right:3px}
.main-listing__tag-close{display:inline-block;margin-left:20px;color:#666;font-size:16px}
.main-listing__tag-close:hover{color:#4a95a1}
.main-listing__clear{font-size:14px;color:#4a95a1}
@media only screen and (min-width: 768px) {
.main-listing__item-grid{display:flex;flex-wrap:wrap;justify-content:space-between}
}
@media only screen and (min-width: 768px) {
.main-listing__item-grid .item-grid__container{width:48%}
}
.main-listing__item-grid--t-margin{margin-top:40px}
.open-houses__btn{display:inline-block;margin-bottom:5px;padding:5px 8px;background-color:#6d5f67;color:#fff;border-radius:4px;font-size:12px}
@media only screen and (min-width: 768px) {
.open-houses__btn{padding:6px 20px}
}
.open-houses__desc{display:block;color:#999;font-size:12px;text-align:left}
@media only screen and (min-width: 768px) {
.open-houses__desc{text-align:right}
}
.open-houses__agency{color:#333;text-transform:uppercase}
.main-listing__grid{padding:50px 0 100px;background-color:#f6f6f6}
.testimonial__container{padding:100px 0}
.testimonial__container--bordered{position:relative;border:1px solid #eee;padding:10px}
@media only screen and (min-width: 768px) {
.testimonial__container--bordered{padding:50px}
}
.testimonial--b-border{border-bottom:1px solid #eee}
.testimonial__icon-wrapper{position:absolute;z-index:2;top:-30px;width:58px;height:58px;border:1px solid #eee;background-color:#fff;border-radius:50%;text-align:center}
.testimonial__icon-wrapper img{position:relative;top:50%;transform:translateY(-50%)}
.testimonial__navigation{position:absolute;right:10px;bottom:10px}
@media only screen and (min-width: 768px) {
.testimonial__navigation{right:50px;bottom:50px}
}
.testimonial__overlay{position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,0.5)}
.testimonial__desc{position:relative;margin-bottom:30px;padding:30px;background-color:#f3f3f3;color:#666}
.testimonial__desc:after{content:"";position:absolute;top:100%;left:25px;width:0;height:0;border-top:15px solid #f3f3f3;border-left:15px solid transparent;border-right:15px solid transparent}
.testimonial--centered{text-align:center}
.testimonial__icon{display:inline-block;margin-bottom:25px}
.testimonial__icon-2{display:inline-block;padding-right:10px}
@media only screen and (min-width: 768px) {
.testimonial__wrapper{display:flex}
}
@media only screen and (min-width: 768px) {
.testimonial__detail{padding-left:40px}
}
.testimonial__slider img{display:inline-block!important}
.testimonial__slider--top{max-width:810px;margin:0 auto 25px;color:#666;font-size:16px}
.testimonial__desc--v3{margin-bottom:20px;color:#666;font-size:16px}
.testimonial__list{max-width:200px;margin:0 auto 20px}
.testimonial__list .slick-slide{cursor:pointer;opacity:.5}
.testimonial__list .slick-slide img{transform:scale(0.9)}
.testimonial__list .slick-current{opacity:1}
.testimonial__list .slick-current img{transform:scale(1)}
.testimonial__video{position:relative;margin-bottom:20px;line-height:0;overflow:hidden}
@media only screen and (min-width: 992px) {
.testimonial__video{margin-bottom:0}
}
.testimonial__video-img{transition:.3s transform ease-out}
.testimonial__video:hover .testimonial__video-img{transform:scale(1.1)}
.play-icon{position:absolute;z-index:2;top:50%;left:50%;color:#fff;font-size:55px;transition:.3s color ease-out;transform:translate(-50%,-50%)}
.play-icon:hover{color:#4a95a1}
.testimonial__customer{display:flex}
.testimonial__customer-profile{padding-left:20px}
.testimonial__customer-name{margin-bottom:5px;color:#333;font-size:17px}
.testimonial__customer-company{color:#999;margin-bottom:5px}
.testimonial__customer-avatar{flex:1 0 auto;margin-bottom:10px}
@media only screen and (min-width: 768px) {
.testimonial__customer-avatar{margin-bottom:0}
}
.testimonial__customer-avatar img{margin:0 auto}
.famous-agents{padding:80px 0;background-color:#f3f3f3}
.famous-agents__title{display:flex;justify-content:space-between;align-items:center}
.famous-agents__navigation{margin-bottom:30px}
.famous-agents__single{background-color:#fff}
.famous-agents__header{position:relative;text-align:center}
.famous-agents__social{position:absolute;bottom:0;width:100%;padding:8px 0;background:rgba(11,33,76,0.9);text-align:center;opacity:0;visibility:hidden;transition:.3s all ease-out;transform:translate3d(0,40px,0)}
.famous-agents__social li{display:inline-block;padding:0 10px}
.famous-agents__social a{color:#fff;font-size:16px;transition:.3s color ease-out}
.famous-agents__social a:hover{color:#4a95a1}
.famous-agents__content{padding:15px 20px 20px}
.famous-agents__name{margin-bottom:5px;font-size:18px}
.famous-agents__name a{color:#333;transition:.3s color ease-out}
.famous-agents__name a:hover{color:#4a95a1}
.famous-agents__position{display:inline-block;margin-bottom:15px;color:#999;font-size:11px;text-transform:uppercase}
.famous-agents__contact a{font-size:13px;display:inline-block;padding-left:5px;color:#666;transition:.3s color ease-out}
.famous-agents__contact a:hover{color:#4a95a1}
.famous-agents__contact i{color:#666;font-size:12px}
.famous-agents__single:hover .famous-agents__content{box-shadow:0 1px 7px 0 rgba(0,0,0,0.12)}
.famous-agents__single:hover .famous-agents__social{opacity:1;visibility:visible;transform:translate3d(0,0,0)}
.famous-agents__wrapper .slick-list{margin:0 -15px}
.famous-agents__wrapper .slick-slide{margin:0 15px}
.famous-agents__wrapper .slick-slide img{margin:0 auto}
.newsletter{padding:40px 0;background-color:#6d5f67}
.newsletter__content{display:flex;margin-bottom:16px}
@media only screen and (min-width: 992px) {
.newsletter__content{margin-bottom:0}
}
.newsletter__icon{flex-shrink:0;height:100%}
.newsletter__text-content{margin-left:20px}
.newsletter__title{margin-bottom:2px;color:#fff;font-size:22px}
.newsletter__desc{margin-bottom:0;color:rgba(255,255,255,0.7)}
.newsletter__form{display:flex}
.newsletter__field{width:60%}
@media only screen and (min-width: 768px) {
.newsletter__field{width:70%}
}
.newsletter__submit{position:relative;z-index:2;right:5px;width:40%;background-color:#4a95a1;color:#fff;font-weight:500;text-transform:uppercase;cursor:pointer}
@media only screen and (min-width: 768px) {
.newsletter__submit{width:30%}
}
.popular-links{padding:90px 0 70px}
.popular-links__header{margin-bottom:25px;color:#333;font-size:18px}
.popular-links__single{padding-bottom:20px}
#js-expand{color:#4a95a1}
.popular-links__list li{margin-bottom:5px}
.popular-links__list a{color:#666;transition:.3s color ease-out}
.popular-links__list a:hover{color:#4a95a1}
.partners{padding:20px 0;background-color:#eee}
.partners__list{display:flex;flex-wrap:wrap}
.partners__list li{padding:0 15px;width:50%}
@media only screen and (min-width: 768px) {
.partners__list li{width:33.33%}
}
@media only screen and (min-width: 992px) {
.partners__list li{width:20%}
}
.news{padding-top:100px;padding-bottom:80px}
@media only screen and (min-width: 992px) {
.news{padding-bottom:100px}
}
.news__single{margin-bottom:20px}
@media only screen and (min-width: 768px) {
.news__single{display:flex}
}
@media only screen and (min-width: 992px) {
.news__single{margin-bottom:0}
}
.news__single--v2{transition:.3s box-shadow ease-out;margin-bottom:20px}
@media only screen and (min-width: 992px) {
.news__single--v2{margin-bottom:0}
}
.news__single--v2:hover{box-shadow:0 1px 7px 0 rgba(0,0,0,0.12)}
.news__single--b-margin{margin-bottom:30px}
.news__time{margin-bottom:10px}
@media only screen and (min-width: 768px) {
.news__time{flex:1 0 auto;align-self:baseline;margin-bottom:0;border-right:1px solid #ddd;padding-right:35px;text-align:center}
}
@media only screen and (min-width: 768px) {
.news__main{padding-left:35px}
}
.news__content{border:1px solid #f3f3f3;padding:10px}
@media only screen and (min-width: 768px) {
.news__content{padding:10px 25px 25px}
}
.news__thumbnail{position:relative;overflow:hidden}
.news__thumbnail img{transition:.3s transform ease-out}
.news__thumbnail:hover img{transform:scale(1.1)}
.news__thumbnail:hover .news__thumbnail-overlay{z-index:10;background:rgba(0,0,0,0.4)}
.news__footer{display:flex;justify-content:space-between;align-items:center;border-top:1px solid #eee;padding-top:20px}
.news__date,.news__my{display:block;color:#333}
.news__date{font-family:'Raleway',Helvetica,Arial,sans-serif;font-size:60px;font-weight:700;line-height:1}
.news__my{font-size:16px;font-weight:500}
.news__meta{display:inline-block;margin-bottom:20px;color:#888;font-size:12px}
.news__meta-time{margin-bottom:8px}
.news__meta-time img{padding-right:4px;padding-bottom:3px}
.news__meta-comments{margin-bottom:0}
.news__excerpt{margin-bottom:25px;color:#666}
.news__readmore{display:inline-block;border:1px solid #4a95a1;padding:7px 23px;color:#4a95a1;font-size:13px;font-weight:500;text-transform:uppercase;border-radius:40px;transition:.3s all ease-out}
.news__readmore:hover{background-color:#4a95a1;color:#fff}
.news__thumbnail-overlay{position:absolute;top:0;left:0;width:100%;height:100%;transition:.3s background ease-out}
.news__title{margin-bottom:8px;font-size:18px}
.news__title a{color:#333;transition:.3s color ease-out}
.news__title a:hover{color:#4a95a1}
.news__thumbnail--single{margin-bottom:30px}
@media only screen and (min-width: 992px) {
.news__wrapper{display:flex}
}
.news__share{margin-bottom:20px}
@media only screen and (min-width: 992px) {
.news__share{margin-right:60px;margin-bottom:0}
}
.news__share-text{display:inline-block;color:#767676;margin-right:5px;margin-bottom:5px}
@media only screen and (min-width: 992px) {
.news__share-text{display:block;margin-right:0}
}
.news__share-list{display:inline-block;background-color:#f6f6f6;padding:10px 23px}
@media only screen and (min-width: 992px) {
.news__share-list{padding:27px 23px}
}
.news__share-item{display:inline-block;margin-right:10px}
.news__share-item:last-child{margin-right:0}
@media only screen and (min-width: 992px) {
.news__share-item{display:block;margin-right:0;margin-bottom:10px}
.news__share-item:last-child{margin-bottom:0}
}
.news__share-link{display:inline-block;width:34px;height:34px;border:1px solid #e5e5e5;background-color:#fff;color:#666;font-size:16px;border-radius:3px;text-align:center;line-height:34px;transition:.3s color ease-out}
.news__share-link:hover{color:#4a95a1}
.news__cat{display:inline-block;margin-bottom:15px;padding:2px 11px;background-color:#ff9d00;color:#fff;font-size:10px;text-transform:uppercase;border-radius:4px}
@media only screen and (min-width: 992px) {
.news__cat{margin-bottom:27px}
}
.news__title--single{margin-bottom:10px;font-size:36px}
.news__desc{display:block;margin-bottom:14px;color:#333;font-size:18px;text-transform:uppercase;font-weight:500}
.news__header{padding-bottom:30px}
.news__header .news__meta{margin-right:20px}
.news__entry{padding-bottom:30px}
.news__entry p{margin-bottom:20px;color:#666}
.news__author{border-top:1px solid #eee;border-bottom:1px solid #eee;padding:39px 0}
@media only screen and (min-width: 768px) {
.news__author{display:flex;align-items:center}
}
.news__author-image{margin-bottom:15px}
@media only screen and (min-width: 768px) {
.news__author-image{flex-shrink:0;margin-bottom:0;margin-right:20px}
}
.news__author-name{margin-bottom:8px;font-size:16px;text-transform:uppercase}
.news__author-desc{color:#666}
.news__author-more{color:#333;text-decoration:underline}
.news__tags{padding-top:20px;color:#666}
.news__tags-icon{padding-right:5px;color:#333;font-size:18px}
.news__tag{color:#666;transition:.3s color ease-out}
.news__tag:hover{color:#4a95a1}
.news__navigation{padding:50px 0 30px}
@media only screen and (min-width: 992px) {
.news__navigation{padding:100px 0 80px}
}
.nav-links:after{content:"";display:table;clear:both}
.nav-previous{float:left}
@media only screen and (min-width: 768px) {
.nav-previous{padding-right:15px}
}
.nav-previous .nav-content{padding-left:10px}
@media only screen and (min-width: 768px) {
.nav-previous .nav-content{padding-left:25px}
}
.nav-next{float:right}
@media only screen and (min-width: 768px) {
.nav-next{padding-left:15px}
}
.nav-next .nav-content{padding-right:10px;text-align:right}
@media only screen and (min-width: 768px) {
.nav-next .nav-content{padding-right:25px}
}
.nav-previous,.nav-next{margin-bottom:20px;display:flex;align-items:center}
@media only screen and (min-width: 768px) {
.nav-previous,.nav-next{width:50%;align-items:flex-start}
}
.nav-title{margin-bottom:5px;font-size:15px}
@media only screen and (min-width: 768px) {
.nav-title{font-size:18px;line-height:1.5}
}
@media only screen and (min-width: 992px) {
.nav-title{margin-bottom:10px}
}
.nav-subtitle{color:#999}
.nav-subtitle-icon{font-size:16px}
.comments-area{padding-bottom:50px}
.comments-title{margin-bottom:40px;font-size:22px;text-transform:uppercase}
.comment{margin-bottom:50px}
@media only screen and (min-width: 768px) {
.comment-wrapper{display:flex}
}
@media only screen and (min-width: 768px) {
.comment-main{flex:1;margin-left:30px}
}
.comment-avatar{margin-bottom:10px}
@media only screen and (min-width: 768px) {
.comment-avatar{margin-bottom:0}
}
.comment-avatar img{border:5px solid #f6f6f6;border-radius:50%}
.comment-meta{margin-bottom:20px}
@media only screen and (min-width: 768px) {
.comment-meta{display:flex;align-items:center}
}
.comment-content{padding:30px;background-color:#f6f6f6}
.comment-author{margin-bottom:5px;font-size:16px;text-transform:uppercase}
@media only screen and (min-width: 768px) {
.comment-author{margin-right:80px;margin-bottom:0}
}
.comment-author a{color:#333}
.comment-date{color:#999;font-size:12px;text-transform:uppercase}
.comment-reply a{display:inline-block;margin-left:15px;border:1px solid #333;padding:1px 11px;color:#333;font-weight:500}
.comment-respond-title{margin-bottom:20px;font-size:22px;text-transform:uppercase}
.comment-form-field{margin-bottom:30px;border-bottom:1px dotted #ddd;border-radius:0}
.comment-form-submit{display:inline-block;border:0;padding:15px 40px;background-color:#4a95a1;color:#fff;text-transform:uppercase;text-align:center;font-family:'Roboto',Helvetica,Arial,sans-serif;font-weight:500;border-radius:4px;cursor:pointer}
.ht-breadcrumbs--centered{text-align:center}
.ht-breadcrumbs--y-padding{padding:20px 0}
.ht-breadcrumbs--b-border{border-bottom:1px solid #ddd}
.ht-breadcrumbs--b-margin{margin-bottom:20px}
.ht-breadcrumbs__item{display:inline-block;padding-right:5px;font-size:12px}
.ht-breadcrumbs__item:after{content:'\f105';display:inline-block;padding-left:7px;font-family:'FontAwesome'}
.ht-breadcrumbs__item:last-child:after{display:none}
.ht-breadcrumbs__link{color:#888;transition:.3s color ease-out}
.ht-breadcrumbs__link:hover{color:#4a95a1}
.ht-breadcrumbs__page{color:#333}
.agents-with-info{background-color:#f3f3f3;padding-bottom:60px}
.agents-with-info .famous-agents__single{margin-bottom:20px}
.agent-with-button{padding:100px 0 80px}
.agent-with-button__single{border:1px solid #f6f6f6;margin-bottom:20px}
.agent-with-button__wrapper{display:flex;align-items:center}
.agent-with-button__wrapper img{width:37%}
.agent-with-button__agent{width:63%;padding-left:30px}
.agent-with-button__agent-name{font-size:18px;margin-bottom:4px}
.agent-with-button__agent-position{display:block;margin-bottom:1px;color:#999;font-size:12px}
.agent-with-button__cta{display:block;padding:12px 0;background-color:#4a95a1;color:#fff;text-align:center;text-transform:capitalize}
.agency__wrapper{padding:30px 0 40px}
.agency{margin-bottom:60px;border:1px solid #eee}
.agency__thumbnail{text-align:center}
.agency__detail{border-top:1px solid #eee;padding:20px}
.agency__name{margin-bottom:10px;font-size:18px}
.agency__social{margin-bottom:20px}
.agency__social li{display:inline-block;padding-right:10px}
.agency__social a{color:#adadad;font-size:16px;transition:.3s color ease-out}
.agency__social a:hover{color:#4a95a1}
.agency__contact li{position:relative;margin-bottom:2px;padding-left:20px;color:#666}
.agency__contact li:before{position:absolute;left:0;color:#bbb;font-family:'FontAwesome'}
.agency__contact-phone:before{content:"\f095"}
.agency__contact-website:before{content:"\f0ac"}
.agency__contact-email:before{content:"\f003";font-size:13px}
.agency__contact-address:before{content:"\f041";font-size:16px}
.agency__contact a{color:#4a95a1}
.agency__properties{margin-bottom:0;padding:15px 20px;background-color:#f3f3f3;color:#adadad}
.single__wrapper{padding:30px 0 50px}
.single__inner{margin-bottom:30px}
@media only screen and (min-width: 768px) {
.single__inner{display:flex}
}
@media only screen and (min-width: 992px) {
.single__inner{margin-bottom:0}
}
.single__avatar{margin-bottom:16px}
@media only screen and (min-width: 768px) {
.single__avatar{width:25%;margin-bottom:0}
}
@media only screen and (min-width: 768px) {
.single__detail{width:75%;padding-left:20px}
}
@media only screen and (min-width: 992px) {
.single__detail{padding-left:40px}
}
.agents-single__name{margin-bottom:5px;font-size:24px}
.agents-single__contact{margin-bottom:10px}
.agents-single__social{margin-bottom:40px}
.agents-single__desc{margin-bottom:0;color:#666}
.agencies-single__avatar{position:relative;z-index:2;display:flex;justify-content:center;align-items:center;width:198px;height:198px;border:1px solid #eee;border-radius:50%}
.agencies-single__avatar img{width:155px}
.agencies-single__name{margin-bottom:15px;font-size:24px}
.agencies-single__social{margin-bottom:15px}
.agencies-single__contact{margin-bottom:25px}
.agencies-single li{margin-bottom:5px}
.agencies-single__desc{margin-bottom:0;color:#666}
.about-us__main{padding:40px 0 70px}
.about-us p{margin-bottom:20px;color:#333}
.about-us__img{margin-bottom:30px}
.about-us__title{margin-bottom:20px;font-size:28px;color:#6d5f67;}
.contact__main{padding:40px 0 100px}
.contact__map-container{position:relative;min-height:430px;margin-bottom:40px}
.contact__title{padding:20px 0 10px;font-size:24px}
.contact__desc{margin-bottom:15px}
@media only screen and (min-width: 992px) {
.contact__desc{margin-bottom:30px}
}
.contact p{margin-bottom:0;color:#666}
#contact-map{position:absolute;top:0;left:0;width:100%;height:100%}
.error-404__main{padding:100px 0}
.error-404__title{margin-bottom:15px;font-size:45px;text-transform:uppercase}
@media only screen and (min-width: 768px) {
.error-404__title{font-size:60px;margin-bottom:30px}
}
.error-404__detail{margin-bottom:30px}
.error-404__explain{margin-bottom:5px;font-size:24px}
.error-404__desc{color:#666}
.error-404__cta{display:block;max-width:370px;border:2px solid #eee;padding:13px 0;color:#bbb;font-size:20px;font-weight:500;text-transform:uppercase;text-align:center;transition:.3s all ease-out}
.error-404__cta:hover{border-color:#4a95a1;background-color:#4a95a1;color:#fff}
.pagination--t-margin{margin-top:20px;margin-bottom:20px}
.pagination__item{display:inline-block;margin:0 2px}
.pagination__link{display:inline-block;color:#333;width:40px;height:40px;line-height:40px;text-align:center;border-radius:4px;border:1px solid transparent;transition:.5s all ease-out}
.pagination__link--selected{background-color:#4a95a1;color:#fff}
.pagination__link:hover{border:1px solid #ddd}
.pagination__link--selected:hover{border:1px solid transparent}
.blog__main,.blog-single__main{padding-top:50px;padding-bottom:50px}
.main-search{background-color:#f6f6f6}
.main-search--static{padding-top:60px}
.main-search--static + .item-grid{padding-top:40px}
@media only screen and (min-width: 768px) {
.main-search--absolute{position:absolute;left:0;bottom:-55px;z-index:5;width:100%;background-color:transparent}
}
.main-search__container{position:relative}
.main-search__container:after{content:"";position:absolute;left:50%;transform:translateX(-50%);top:100%;z-index:5;width:0;height:0;border-top:15px solid #fff;border-left:25px solid transparent;border-right:25px solid transparent}
.listing-search{padding:30px;background-color:#6d5f67;text-align:center}
.listing-search h2{font-size:21px;color:#FFF}
.listing-search__label{display:block;margin-bottom:5px;color:#fff;font-size:12px;text-transform:uppercase}
.listing-search__label--hidden{opacity:0;visibility:hidden}
.ht-field{display:block;width:100%;margin-bottom:20px;font-size:13px}
.listing-search__btn{height:41px;display:inline-block;width:100%;margin-bottom:20px;padding:10px;background-color:#4a95a1;color:#fff;border-radius:4px;text-transform:uppercase;text-align:center;font-weight:500}
.listing-search__field{height:41px;margin-bottom:20px;font-size:13px}
.listing-search__field::placeholder{color:#333;font-size:13px}
.listing-search__advance{display:none}
.listing-search__amount{margin-bottom:6px;color:#fff;font-size:12px;text-align:center}
.listing-search__slider{height:5px;margin:0 9px 20px}
.listing-search__slider .ui-widget-header{background-color:#4a95a1}
.listing-search__slider .ui-slider-handle{top:-7px;width:20px;height:20px;border:2px solid #fff;background-color:#4a95a1;border-radius:50%;box-shadow:0 3px 7px 0 rgba(0,0,0,0.35)}
.listing-search__slider .ui-state-hover,.listing-search__slider .ui-state-focus,.listing-search__slider .ui-state-active{border-color:#4a95a1}
.ui-widget-content{border:0!important;background-color:#fff!important}
.listing-search__more{padding:10px 0 20px}
.listing-search__more-inner{display:none}
.listing-search__more-btn{display:inline-block;margin-bottom:20px;color:#f3f3f3;font-size:13px;font-weight:500;text-transform:uppercase}
.listing-search__more-btn:after{content:"\f105";display:inline-block;padding-left:5px;font-family:"FontAwesome";transition:.3s all ease-out;transform-origin:100% 70%}
.listing-search__more-btn--show:after{transform:rotate(90deg)}
.listing-search__more-wrapper{margin-bottom:10px}
.listing-search__more-field{display:none}
.listing-search__more-label{display:inline-block;color:#f3f3f3;font-size:13px;cursor:pointer}
.listing-search__more-label:before{content:"\f0c8";display:inline-block;margin-right:10px;font-family:"FontAwesome"}
.listing-search__more-field:checked ~ .listing-search__more-label:before{content:"\f14a";color:#4a95a1}
.listing-search__more-field:disabled ~ .listing-search__more-label:before{content:"\f0c8";color:#666}
.listing-sort{position:relative;padding:15px;background-color:#fff;color:#333;font-size:13px}
.listing-sort--main-listing{margin-bottom:20px;padding:15px}
.listing-sort--main-listing:after{display:none}
@media only screen and (min-width: 768px) {
.listing-sort__inner{display:flex;align-items:center}
}
.listing-sort__list{margin-bottom:5px}
@media only screen and (min-width: 768px) {
.listing-sort__list{margin-bottom:0;margin-right:auto}
}
.listing-sort__item{display:inline-block;margin-right:15px;font-size:16px}
.listing-sort__item:last-child{margin-right:0}
.listing-sort__link{color:#bbb}
.listing-sort__link:hover{color:#333}
.listing-sort__link--active{color:#333}
.listing-sort__result{display:inline-block;margin-bottom:5px}
@media only screen and (min-width: 768px) {
.listing-sort__result{margin-right:50px;margin-bottom:0}
}
.listing-sort__sort{margin-bottom:0}
.listing-sort__label{display:inline-block;margin-right:5px}
.listing-sort__field{display:inline-block;width:180px;margin-bottom:0}
@media only screen and (min-width: 768px) {
.listing-sort__field{width:210px}
}
.listing-sort__field .dk-selected{padding:6px 15px;font-size:13px;background-color:#eee}
.map-container{position:relative;width:100%}
.map-full-width{position:fixed!important;height:100%!important;top:0;right:0;bottom:0;left:0;z-index:1000}
.map--default{position:absolute;top:0;width:100%;height:100%;overflow:hidden}
.map-controls{position:absolute;top:10px;right:10px}
.map-control{width:30px;height:30px;margin-bottom:5px;border-radius:4px;background-color:rgba(0,0,0,0.55);box-shadow:0 1px 3px 0 rgba(0,0,0,0.35);line-height:30px;text-align:center;cursor:pointer;transition:.3s all ease-out}
@media only screen and (min-width: 768px) {
.map-control{width:45px;height:45px;line-height:45px}
}
.map-control:hover{background-color:#4a95a1}
.map-control:last-child{margin-bottom:0;box-shadow:none}
.map-control__icon{display:block;color:#fff;font-size:16px}
@media only screen and (min-width: 768px) {
.map-control__icon{font-size:20px}
}
.listing-box img{max-width:100%!important}
.listing-box__container{position:relative}
.listing-box__container:after{content:"";position:absolute;top:100%;left:50%;transform:translateX(-50%);width:0;height:0;border-top:15px solid #fff;border-left:15px solid transparent;border-right:15px solid transparent}
.listing-box__container .listing__favorite{top:10px;left:10px;width:30px;height:30px}
.listing-box__container .listing__favorite i{font-size:14px;line-height:30px}
.listing-box__container .listing__close{position:absolute;top:0;right:0;display:inline-block;width:30px;height:30px;background-color:#fff;color:#333;font-size:18px;line-height:30px;text-align:center;cursor:pointer}
.listing-box__container .listing__close:hover{color:#4a95a1}
.listing-box__container .listing__content{padding:15px}
.listing-box__container .listing__title{max-width:190px;margin-bottom:10px;font-size:14px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.listing-box__container .listing__price{margin-bottom:0;font-weight:400}
.property__header{padding:30px 0}
.property__header--v3{padding:0 0 45px}
.property__title--b-margin{margin-bottom:20px}
.property__price--b-margin{margin-bottom:25px}
.property__meta{display:flex;align-items:center;margin-bottom:10px}
.property__offer{display:inline-block;margin-right:15px;padding:2px 18px;border-radius:4px;background-color:#ff9d00;color:#fff;font-size:10px;text-transform:uppercase;font-weight:500}
.property__type{display:inline-block;color:#4a95a1;font-size:11px;text-transform:uppercase}
.property__name{margin-bottom:8px;font-size:30px}
.property__address{color:#888}
.property__address-icon{margin-right:5px;font-size:16px}
.property__stat{display:inline-block;margin-right:20px;color:#888;font-size:12px;text-transform:uppercase}
.property__stat:last-child{margin-right:0}
.property__figure{display:block;margin-bottom:-2px;color:#333;font-size:24px}
.property__price-primary{margin-bottom:2px;color:#4a95a1;font-family:'Roboto',Helvetica,Arial,sans-serif;font-size:24px;font-weight:700}
.property__price-secondary{color:#888}
.property__item{display:inline-block;margin-right:10px;text-align:center}
@media only screen and (min-width: 1200px) {
.property__item{margin-right:30px}
}
.property__item:last-child{margin-right:0}
.property__item-desc{display:inline-block;text-align:center;color:#999}
.property__link{display:flex;flex-direction:column;align-items:center}
.property__icon{font-size:18px;width:50px;height:50px;margin-bottom:5px;border-radius:50%;background-color:#6d5f67;color:#fff;line-height:50px;text-align:center}
@media only screen and (min-width: 992px) {
.property__main{display:flex;align-items:center}
}
.property__main-item{position:relative;margin-bottom:10px}
@media only screen and (min-width: 992px) {
.property__main-item{display:inline-block;margin-bottom:0;margin-right:20px;padding-right:20px}
.property__main-item:after{position:absolute;right:0;top:50%;transform:translateY(-50%);content:"";width:1px;height:80px;background-color:#ddd}
.property__main-item:last-child{padding-right:0;margin-right:0}
.property__main-item:last-child:after{display:none}
}
@media only screen and (min-width: 1200px) {
.property__main-item{margin-right:50px;padding-right:50px}
}
@media only screen and (min-width: 768px) {
.property__header-container{display:flex;justify-content:space-between;align-items:center}
}
.property__container{padding-bottom:20px;background-color:#f6f6f6}
.property__container .widget{transition:.3s all ease-out}
.property__container .widget:hover{box-shadow:0 0 7px 0 rgba(0,0,0,0.15)}
.property__feature-container{padding:0}
@media (max-width: 991px) {
.property__feature-container{padding:0 0 50px}
}
.widget__container{padding-top:50px}
.property__feature{margin-bottom:30px;padding:15px 20px;background-color:#fff;transition:.5s box-shadow ease-out}
.property__feature:hover{box-shadow:0 0 7px 0 rgba(0,0,0,0.15)}
@media only screen and (min-width: 768px) {
.property__feature{padding:25px 40px}
}
.property__feature p{color:#666}
.property__feature-title{font-size:20px;padding-bottom:10px}
.property__feature-title--b-spacing{margin-bottom:25px;border-bottom:1px solid #eee}
.property__feature-schedule{margin-bottom:8px}
@media only screen and (min-width: 768px) {
.property__feature-schedule{display:flex;justify-content:space-between;align-items:center}
}
.property__feature-cta{display:inline-block;padding:10px 42px;background-color:#6d5f67;color:#fff;border-radius:4px;text-align:center}
@media only screen and (min-width: 768px) {
.property__feature-cta{flex-shrink:0}
}
.property__feature-time-list{margin-bottom:10px}
@media only screen and (min-width: 768px) {
.property__feature-time-list{margin-bottom:0}
}
.property__feature-time-item{display:inline-block;margin-right:10px;color:#666}
.property__feature-open-maps{color:#4a95a1}
@media only screen and (min-width: 768px) {
.property__details-list{columns:2;column-gap:40px}
}
.property__details-item{position:relative;color:#666;margin-bottom:5px;padding-left:20px}
.property__details-item:before{position:absolute;left:0;top:5px;display:inline-block;content:"\f042";font-family:"FontAwesome";font-size:8px}
.property__details-item--cat{color:#333;font-weight:500}
@media only screen and (min-width: 30em) {
.property__features-list{columns:2;column-gap:10px}
}
@media only screen and (min-width: 768px) {
.property__features-list{columns:3;column-gap:20px}
}
.property__features-item{margin-bottom:10px;color:#666}
.property__features-icon{display:inline-block;margin-right:10px;color:#333}
.property__accordion-header{padding:10px 15px;display:flex;justify-content:space-between;border-top:1px solid #eee;background-color:#f6f6f6;cursor:pointer}
@media only screen and (min-width: 768px) {
.property__accordion-header{padding:15px 20px}
}
@media only screen and (min-width: 992px) {
.property__accordion-header{align-items:center}
}
@media only screen and (min-width: 992px) {
.property__accordion-textcontent{display:flex;justify-content:space-between;align-items:center}
}
.property__accordion-title{color:#333;font-size:16px;font-weight:500}
@media only screen and (min-width: 992px) {
.property__accordion-title{min-width:150px}
}
.property__accordion-figure{position:relative;color:#666}
@media only screen and (min-width: 768px) {
.property__accordion-figure{display:inline-block;margin-right:15px;padding-right:15px}
.property__accordion-figure:last-child{margin-right:0;padding-right:0}
.property__accordion-figure:after{position:absolute;right:0;top:50%;transform:translateY(-50%);content:"\f111";font-family:"FontAwesome";font-size:5px}
.property__accordion-figure:last-child:after{display:none}
}
.property__accordion-figure--cat{color:#333;font-weight:500}
.property__accordion-expand{color:#888}
.property__accordion-content{display:none;text-align:center}
.property__accordion-content--active{display:block}
@media only screen and (min-width: 992px) {
.property__feature-header{display:flex;justify-content:space-between;align-items:center;border-bottom:1px solid #eee}
}
.property__tab{display:inline-block;margin-right:15px;margin-bottom:10px;color:#666;transition:.3s all ease-out;padding-bottom:5px;border-bottom:3px solid transparent}
.property__tab:hover{color:#333;border-bottom:3px solid #4a95a1}
.property__tab--active{color:#333;border-bottom:3px solid #4a95a1}
@media only screen and (min-width: 992px) {
.property__tab{margin:0 0 0 15px;padding-bottom:10px}
}
.property__tab-container{overflow-x:auto}
.property__tab-content{display:none;margin:5px 0 0;border:0;border-collapse:collapse;border-spacing:0;table-layout:auto;width:100%}
@media only screen and (min-width: 992px) {
.property__tab-content{margin:15px 0 0}
}
.property__tab-content td,.property__tab-content th{border:0;border-bottom:1px solid #eee;min-width:150px}
.property__tab-content td{color:#333;padding:15px 0}
.property__tab-content th{padding:5px 0;color:#666;font-weight:400}
.property__tab-content.is-visible{display:table}
.list-number{display:inline-block;width:30px;height:30px;margin-right:15px;border-radius:50%;background-color:#adadad;color:#fff;text-align:center;line-height:30px}
.property__form-field{margin-bottom:20px;border:1px solid #eee;color:#666}
.property__form-field:focus{border-color:#4a95a1}
.property__form-field::placeholder{color:#666}
.property__form-wrapper{position:relative}
.property__form-icon{position:absolute;right:10px;top:50%;transform:translateY(-50%);color:#adadad;font-size:18px}
.property__form-submit{max-width:250px;background:#4a95a1;color:#fff;text-align:center;text-transform:uppercase;border:0;border-radius:4px;font-family:'Roboto',Helvetica,Arial,sans-serif;font-weight:500;cursor:pointer}
.contact-form__header-container{display:flex;align-items:center}
.contact-info{margin-left:10px}
.contact-company{color:#888;font-size:12px}
.contact-name{font-size:18px}
.contact-name a{color:#333;transition:.3s color ease-out}
.contact-name a:hover{color:#4a95a1}
.contact-number{color:#333;font-size:13px;text-transform:uppercase;transition:.3s color ease-out}
.contact-number:hover{color:#4a95a1}
.similar-home{position:relative;margin-bottom:20px}
div.similar-home:last-of-type{margin-bottom:0}
.similar-home__overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:-webkit-linear-gradient(90deg,#222 0%,rgba(34,34,34,0) 100%);background:-moz-linear-gradient(90deg,#222 0%,rgba(34,34,34,0) 100%);background:-o-linear-gradient(90deg,#222 0%,rgba(34,34,34,0) 100%);background:-ms-linear-gradient(90deg,#222 0%,rgba(34,34,34,0) 100%);background:linear-gradient(0deg,#222 0%,rgba(34,34,34,0) 100%)}
.similar-home__favorite{position:absolute;top:10px;right:10px;display:inline-block;width:30px;height:30px;line-height:30px;background-color:rgba(255,255,255,0.93);border-radius:50%;text-align:center;cursor:pointer}
.similar-home__favorite .fa{color:#bbb;font-size:12px}
.similar-home__content{position:absolute;bottom:0;left:0;width:100%;padding:10px 10px 5px}
.similar-home__title{color:#fff;font-size:15px;transition:.3s color ease-out}
.similar-home__price{color:#4a95a1}
@media only screen and (min-width: 1200px) {
.form-calculator__wrapper{display:flex;justify-content:space-between}
}
.form-calculator__group{position:relative;margin-bottom:10px;padding:10px 15px;border:1px solid #eee;border-radius:4px}
.form-calculator__group .ht-field{margin-bottom:0}
@media only screen and (min-width: 1200px) {
.form-calculator__group--larger{width:57%}
}
@media only screen and (min-width: 1200px) {
.form-calculator__group--smaller{width:40%}
}
.form-calculator__label{color:#999;font-size:12px}
.form-calculator__icon{position:absolute;bottom:18px;color:#999;font-size:16px}
.form-calculator__field{color:#333}
.form-calculator__percent{right:20px}
.form-calculator__currency{left:20px}
.form-calculator__submit{background-color:#4a95a1;color:#fff;font-family:'Roboto',Helvetica,Arial,sans-serif;font-size:13px;font-weight:500;text-transform:uppercase;text-align:center;cursor:pointer}
.form-calculator__result{display:none;margin-top:10px}
.mortgage-payment{font-size:16px;line-height:1.5}
.mortgage-payment span{color:#666}
.property__slider{margin-bottom:50px}
.property__slider--v2{margin-bottom:30px}
@media only screen and (min-width: 1200px) {
.property__slider-container--vertical{display:flex}
}
.property__slider-main{position:relative}
.property__slider-main:hover .image-navigation{opacity:1;visibility:visible}
.image-navigation{position:absolute;display:flex;justify-content:space-between;width:100%;top:50%;transform:translateY(-50%);opacity:0;visibility:hidden;transition:.3s all ease-out}
.image-navigation li{display:inline-block;width:30px;height:30px;background-color:rgba(0,0,0,0.8);color:#fff;line-height:30px;font-size:18px;text-align:center;cursor:pointer}
@media only screen and (min-width: 768px) {
.image-navigation li{width:60px;height:60px;font-size:24px;line-height:60px}
}
@media only screen and (min-width: 1200px) {
.property__slider-main--vertical{width:88%}
}
.property__slider-info{display:inline-block;position:absolute;bottom:20px;left:20px;padding:3px 15px;background-color:rgba(0,0,0,0.8);color:#fff;border-radius:4px;font-size:13px;text-align:center}
.property__slider-info i{display:inline-block;font-size:16px;margin-right:5px}
.property__slider-info .sliderInfo{display:inline-block;font-size:13px}
.property__slider-nav{position:relative;padding:20px 25px}
@media only screen and (min-width: 768px) {
.property__slider-nav{padding:30px 25px}
}
.property__slider-nav .slick-slide{margin:0 5px;border:2px solid transparent}
.property__slider-nav .slick-current{border-color:#4a95a1}
.property__slider-nav .slick-arrow{color:#888;font-size:16px;cursor:pointer}
.property__slider-nav .slick-arrow:hover{color:#4a95a1}
.property__slider-nav .slick-disabled,.property__slider-nav .slick-disabled:hover{color:#e5e5e5}
.property__slider-nav .slick-horizontal-arrow{position:absolute;top:50%;transform:translateY(-50%)}
.property__slider-nav .slick-horizontal-prev-arrow{left:10px}
.property__slider-nav .slick-horizontal-next-arrow{right:10px}
.property__slider-nav .slick-vertical-arrow{position:absolute;left:50%;transform:translateX(-50%)}
.property__slider-nav .slick-vertical-prev-arrow{top:5px}
.property__slider-nav .slick-vertical-next-arrow{bottom:5px}
.property__slider-nav--vertical{background-color:#f3f3f3}
@media only screen and (min-width: 1200px) {
.property__slider-nav--vertical{width:12%}
}
@media only screen and (min-width: 1200px) {
.property__slider-nav--vertical .slick-slide{margin:5px 0}
}
.property__slider-nav--horizontal{background-color:#fff}
@media only screen and (min-width: 768px) {
.property__slider-nav--horizontal{padding:20px 25px}
}
.property__slider-item:hover{cursor:pointer}
.property__placeholder{position:relative;/*min-height:600px;background-image:url(../images/uploads/single_property.jpg);*/background-repeat:no-repeat;background-size:cover;background-position:center}
.property__controls{position:relative;z-index:10;top:30px;display:flex;justify-content:flex-end}
.property__control{display:inline-block;width:30px;height:30px;margin-right:10px;border-radius:4px;background-color:rgba(0,0,0,0.65);box-shadow:0 1px 3px 0 rgba(0,0,0,0.35);line-height:30px;text-align:center;cursor:pointer;transition:.3s all ease-out}
.property__control:last-child{margin-right:0}
@media only screen and (min-width: 768px) {
.property__control{width:45px;height:45px;line-height:45px}
}
.property__control:hover{background-color:#4a95a1}
.property__control--active{background-color:#4a95a1}
.property__control-icon{display:block;color:#fff;font-size:16px}
@media only screen and (min-width: 768px) {
.property__control-icon{font-size:24px}
}
#property-map{position:absolute;top:0;left:0;height:100%;width:100%}
.property__map{visibility:hidden;opacity:0;z-index:-1}
.property__map--visible{visibility:visible;opacity:1;z-index:5}
.coming-soon{position:relative;width:100vw;height:100vh;/*background-image:url(../images/uploads/coming_soon.jpg);*/background-repeat:no-repeat;background-size:cover;background-position:center;color:#f3f3f3}
.coming-soon__overlay{position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,0.65)}
.coming-soon__container{display:flex;height:100%;flex-direction:column;justify-content:space-between}
.coming-soon__title{margin-bottom:16px;color:#f3f3f3;font-size:40px;font-weight:800}
@media only screen and (min-width: 992px) {
.coming-soon__title{margin-bottom:25px;font-size:72px}
}
.coming-soon__subtitle{margin-bottom:15px;font-size:16px}
@media only screen and (min-width: 992px) {
.coming-soon__subtitle{margin-bottom:25px;font-size:20px}
}
.coming-soon__form{position:relative;max-width:500px}
.coming-soon__field{max-width:500px;background-color:transparent;border:1px solid #f3f3f3;border-radius:0;color:#f3f3f3}
.coming-soon__field::placeholder{color:#f3f3f3}
.coming-soon__submit{position:absolute;top:50%;transform:translateY(-50%);right:10px;border:0;background-color:transparent;color:#f3f3f3;cursor:pointer;transition:.2s all ease-out}
.coming-soon__submit:hover{right:5px;color:#4a95a1}
.coming-soon__submit-icon{font-size:18px}
.coming-soon__countdown{margin-bottom:10px}
@media only screen and (min-width: 768px) {
.coming-soon__countdown{margin-bottom:30px}
}
.coming-soon__placeholder{display:inline-block;margin-right:20px}
@media only screen and (min-width: 768px) {
.coming-soon__placeholder{margin-right:50px}
}
.coming-soon__placeholder:last-child{margin-right:0}
.coming-soon__time{font-size:24px;font-weight:700}
@media only screen and (min-width: 768px) {
.coming-soon__time{font-size:36px}
}
.coming-soon__unit{text-transform:uppercase}
.map{margin-bottom:170px}
.clear20 {clear:both;height:20px; }
h2.hotspot-title { margin-bottom: 20px; font-size:24px; }
.hotspot-thumb { margin-bottom: 20px; }